@charset "utf-8";
/* CSS Document */


@import url("../fonts/fontStyle.css");
@import url("font-awesome.css");
@import url("bootstrap.css");
@import url("animate.css"); 

::-webkit-input-placeholder {
  color: #495057 !important;
}
select::-ms-expand {
    display: none;
}
::-ms-clear {
    display: none;
}

::-webkit-scrollbar {display:none;}

.emailIcon{border-radius: 15px;padding: 5px;font-size: 12px;font-weight: bold; line-height:1;}
.menuIconDis{display:none;}
.color1{background-color:#f47b65;}
.color2{background-color:#7cc576;}
.color3{background-color:#5192e0;}
.color4{background-color:#a864a8;}

.outlineNone{outline:none;}
textarea:focus, input:focus, select:focus, input[type="button"]{
    outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}


/***********************************
   CSS ONLY FOR IE
************************************/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .pupopBg{ position: fixed;top: 0;left: 0px;background: rgba(0, 0, 0, 0.2); height:100%; overflow:hidden;}
    .pupopInnerBox{margin: auto;position: absolute;top: 0;left: 0;right: 0;bottom: 0; height:100%;display: block; overflow:auto;}
	#DateOfBirth,#ProbationPeriod,#JoiningDate,#IssuanceDate,#ExpirationDate,#InspectionDate,#switchDate { background:url(../images/icon/dateIcon.png) no-repeat; background-position: 93%;}
	#smsCodeVerificationPopupbox { height:280px; overflow:hidden;}
	#timecode {height:40px;}
   .datepicker { background:url(../images/icon/dateIcon.png) no-repeat; background-position: 93%;}

}

/***********************************
   CSS ONLY FOR Safari
************************************/
@media not all and (min-resolution:.001dpcm) { @media
{
   .pupopBg{ position: fixed;top: 0;left: 0px;background: rgba(0, 0, 0, 0.2); height:100%; overflow:hidden;}
    .pupopInnerBox{margin: auto;position: absolute;top: 0;left: 0;right: 0;bottom: 0; height:100%;display: block; overflow:auto;}
	#DateOfBirth,#ProbationPeriod,#JoiningDate,#IssuanceDate,#ExpirationDate,#InspectionDate,#switchDate { background:url(../images/icon/dateIcon.png) no-repeat; background-position: 93%;}
	.datepicker { background:url(../images/icon/dateIcon.png) no-repeat; background-position: 93%;}
}}

/*****************************************
Media Queris 
*****************************************/
@media only screen and (max-width: 600px) {
  .rowdropdown { width:300px !important;}
  .dropclose { position: absolute;top: -104px;right: 9px;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 
}




.rowdropdown
{
  margin: 0px;padding-bottom:20px;
   width: 500px;
}
.dropclose { text-align:right;}
.formor{ text-align: center;margin-top: 37px; color: #585858;}
.formor a { color:#585858; text-decoration:underline;}


/*<!--EXTRA-->*/
.crossImgAttch{display: block;float: right;margin: 8px 0px 0px 10px;border-left: 1px solid;padding: 0px 10px 0px;}
.loginerorPop1{ position: absolute;margin-top: -46px !important;font-size: 14px;padding: 8px 10px 7px;width: 100%;}
.loginerorPop2{ position: absolute;margin-top: 260px !important;font-size: 14px;padding: 8px 10px 7px;width: 100%;}
.loginerorPop{margin:0 auto;font-size: 14px;}
table{text-align:center !important}
.cursor{cursor:pointer;}

.pupopBg {position: fixed;top: 0;left: 0px;background: rgba(0, 0, 0, 0.5); height:100%;}
.popupBg2 {position: absolute;top: 50%;left: 50%;margin-left: -100px;margin-top: -100px;width: 200px; height: 200px;}
.pupopInnerBox{margin: auto;position: absolute;top: 0;left: 0;right: 0;bottom: 0; height:fit-content;}	



.pupopBgPosition{background-position: 97% !important;padding-right: 53px !important;}	
.pupopBgarrowPos{background-position: 97% !important;padding-right: 53px !important;}
.transition{transition: all 0.5s;}
.overflow-hidden{overflow:hidden;}
.overflow-yscroll{overflow-y:scroll;}
.overflow-xscroll{overflow-x:scroll;}
.opacity0{opacity:0;}
.border-dashed1px{border:1px dashed #a7a9ac;}
.border-top1px{border-top:1px dashed #a7a9ac;}
.border-box1px{border:1px solid #b0b0b0;}
.border-radius11px{border-radius: 11px;}
.border-bottom1px{border-bottom: 1px solid #a7a9ac;}
.border-left1px{border-left: 1px solid #a7a9ac;}
.borderInputblue{border:1px solid #5192e0 !important;}
.borderInputgreen{border:1px solid #149265 !important;}
.borderpuopInput{border:none;border-bottom: 1px solid #a7a9ac;height: 30px;}
.line-height25px{line-height:25px;}
.greenColor{color:#149265 !important;}
aside ul li{list-style:none;padding: 20px 32px;background-image: url(../images/icon/vertically-icon1.png);background-repeat: no-repeat;    background-position: 25px 22px; font-size:15px;}
aside ul li a{/*padding: 20px 174px 20px 0px;display: inline-block;*/ color:#FFF;}	
aside ul li a:hover{color:#FFF; text-decoration:none;}	

aside ul li:nth-child(1)
{
	
	background:url(../images/icon1/dashboard.png) no-repeat;
	background-position: 7px 22px;
	
}

aside ul li:nth-child(2)
{
	background:url(../images/icon1/Contacts.png) no-repeat;
	background-position: 5px 20px;
}

aside ul li:nth-child(4)
{
	background:url(../images/icon1/license.png) no-repeat;
	background-position: 5px 20px;
	background-size: 22px 24px;
}

aside ul li:nth-child(5)
{
	background:url(../images/icon1/inspection.png) no-repeat;
	background-position: 5px 19px;
}

aside ul li:nth-child(6)
{
	background:url(../images/icon1/todolist.png) no-repeat;
	background-position: 5px 20px;
	background-size: 24px 25px;
}


aside ul li:nth-child(7) {
   
	background:url(../images/icon1/reports.png) no-repeat;
	background-position: 5px 16px;
}

aside ul li:nth-child(8) {
	background:url(../images/icon1/settings.png) no-repeat;
    background-position: 5px 20px;
}

aside ul li:nth-child(9) {
	background:url(../images/icon1/video.png) no-repeat;
    background-position: 5px 20px;
	background-size:24px;
}




aside ul li:hover{
	background-color:#2fa97a;
	}
	
.innermenu ul {
	padding-left:0px;
	background: #585858;
}

.innermenu ul li:hover{
	 background-color:#565a71 !important;
	}
.innermenu ul li:nth-child(1)	 {  
     background: url(../images/icon1/customer.png) no-repeat;
     background-position: 25px 16px;
     padding-left: 55px;
}

.innermenu ul li:nth-child(2)	 {  
     background: url(../images/icon1/employee.png) no-repeat;
     background-position: 25px 16px;
     padding-left: 55px;
}

.innermenu ul li:nth-child(3)	 {  
     background: url(../images/icon1/vendor.png) no-repeat;
     background-position: 25px 23px;
     padding-left: 55px;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position: relative;
    top: 12px;
    left: 8px;

}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid black;
}
.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #7cc475;

}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid blue; 
}
.rightarrow {font-size: 10px;margin: 13px 0px 0px 3px;position: absolute;}
.subheading{ margin-left: 15px;font-size: 20px;position: absolute;margin: 7px 0px 0px 16px;}
#activMenu3	{ letter-spacing:-.7px;}
aside ul li:hover::after{
	content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid #f7f7f7;
    border-bottom: 10px solid transparent;
    right: 0;
	    /*margin-top: -39px;*/
	}
	
.activeMenu{background-color:#2fa97a !important;}	
.activeMenu::after{content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid #f7f7f7;
    border-bottom: 10px solid transparent;
    right: 0;}	
	
.boxes{border-radius: 5px;
  background-color: rgb( 255, 255, 255 );
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);	
}

.boxes2{
  background-color: rgb( 255, 255, 255 );
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);	
}
	
.card a
{
	color:inherit;
}

.fotcont{   position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;}


.posLEPage{  position: absolute;bottom: 0;}

/*<!--HEADER AND MENU-->*/
.hederFixedPos {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    box-shadow: 0px 0px 40px #8e8e8e;
	overflow:hidden;
}

.tab
{
	margin:0;
	padding:0;
}

.tab li
{
	list-style:none;
	display:inline-block;
	float:left;
	border:1px solid #149265 !important;
	padding:8px 25px;
	margin-bottom: 20px;
	color:#149265;
}

.tab li:nth-child(1)
{
	border-right:none;
	border-radius:25px 0px 0px 25px;
}

.tab li:nth-child(2) {
	border-radius: 0 0px 0px 0;
}


.tab li:nth-child(3) {
    border-radius: 0 25px 25px 0;
	border-left:none;
}
.activeTab
{
	background-color:#149265;
	color:#FFF !important;
}


.inputfileBtn{ position: absolute;margin-top: -47px;height: 47px;}

/*<!--HEIGHT-->*/
.height-400px{height:400px;}
.height-191px{height: 191px;}
.height-398px{height: 398px;}
.height-40px{height: 40px;}
.height-70px{height: 70px;}
.height-90px{height: 90px;}
.height30{ height:30px;}
.height-480px{height: 480px;}

.height-fill{height: -webkit-fill-available;}

/*<!--MARGIN-->*/
.margin-top10px{margin-top:10px !important;}
.margin-topNeg31px{margin-top: -31px;}
.margin-topBotCenetr{margin: 13.5% 0px 13.5% 0px;}
.margin-top28px{margin-top: 33px;}
.margin-top83px{margin-bottom: 140px;}
.margin-top72px{margin-top: 68px;}
.margin-top64px{margin-top: 64px;}
.margin-top3px{margin-top: 3px;}
.padding-topBot{padding-top:29%;padding-bottom:29%;}
.margin-top0px{margin-top: 0px;}
.margin-top2px{margin-top: 2px;}

.paddingMenu{padding: 5px 10px 3px !important;}

.padding-top2px{padding-top: 2px;}

/*<!--BACKGROUND-->*/
.bg-loginSide{background:url(../images/bg/login-side-bg-min.png) no-repeat; background-size:cover;}
.bg-header{background:url(../images/bg/header.jpg) no-repeat; background-size: 100% 100%;}

.bg-colorWhite{background-color:#fff;}

.bg-blue{background-color:#5093e1;}
.bg-green{background-color:#2fa97a !important; color: #fff !important;}
.bg-green:hover{background-color: transparent !important;color: #149265 !important;}
.bg-gray{background-color:#32353c;}
.bg-section{background-color:#f7f7f7;}

.icon-edit{    background: url(../images/icon/editIcon.png) no-repeat 7px;background-position: 95%;padding-right: 50px;}
.icon-edit2{    background: url(../images/icon/editIcon.png) no-repeat 7px;background-position:98% 96%;padding-right: 50px;}
.icon-editComint{    background:url(../images/icon/editIconComint.png) no-repeat 7px !important;}	
.icon-arrow{  background: url(../images/icon/arrowDown.png) no-repeat;background-position: 95%;-webkit-appearance: none;}	
.icon-arrowPop{  background: url(../images/icon/arrowDown.png) no-repeat;background-position: 97% 94%;-webkit-appearance: none;}	
/*.icon-hotel {  background:url(../images/icon/RestaurantIcon.png) no-repeat;background-position: 94%;-webkit-appearance: none;}	*/
.icon-hotel {  background:url(../images/icon/location.png) no-repeat;background-position: 96%;-webkit-appearance: none; background-size:13%;}	
.icon-download {  background:url(../images/icon/DawnloadIcon.png) no-repeat;background-position: 94%;-webkit-appearance: none;height: 20px;   width: 21px;}
.icon-email{    background:url(../images/icon/email.png) no-repeat 7px;background-position: 95%;padding-right: 50px;}	

		
.icon-attachment{    background:url(../images/icon/attachment.png) no-repeat 7px;
    background-position: 95%;
    padding-right: 50px;}
	
	


.icon-attachmentpupop{    background:url(../images/icon/iconAttachmenthover.png) no-repeat 7px;
    background-position: 98%;
    padding-right: 50px;}
	
	.icon-attachmentpupop:hover{    background:url(../images/icon/iconAttachment.png) no-repeat 7px;
    background-position: 95%;
    padding-right: 50px;}
	
.icon-attachment:hover{    background:url(../images/icon/iconAttachmenthover.png) no-repeat 7px; background-position: 95%;
    padding-right: 50px;}	

.icon-position{background-position: 98% 7px !important;    padding-right: 40px !important;}

.socialicon li:nth-child(1)
{
	border: none;
	font-size: 12px;
	color: #58595b;
	width: 79px;
	text-align: left;
}

.socialicon li
{
	display: inline-block;
    list-style: none;
    margin-left: 0px;
    width: 35px;
    height: 35px;
    border: 2px solid #58595b;
    text-align: center;
    border-radius: 50%;
	padding-top: 5px;
	
}
.socialicon li a{    
	color:#58595b;
	display:block;
}


.socialicon li:hover:nth-child(2){
	  border: 2px solid #f61c0d; 
}

.socialicon li:nth-child(2):hover > a{    
	color:#f61c0d;
}

.socialicon li:hover:nth-child(3){
	  border: 2px solid #3B5998; 
}
.socialicon li:nth-child(3):hover > a{    
	color:#3B5998;
}
.socialicon li:hover:nth-child(4){    
	border: 2px solid #55ACEE;
}

.socialicon li:nth-child(4):hover > a{    
	color:#55ACEE;
}


.navFotul ul
{
	margin:0;
	padding:0;
}

.navFotul ul li
{
	list-style:none;
	padding: 5px 30px;
	/*transition: all 400ms ease-out;*/
}


	

/*.navFotul ul li a::after {
	background-color: #900;
	content: "";
	height: 20%;
	opacity: 0;
	left: 0;
	position: absolute;
 	margin-top: -10px;
	transition: opacity 150ms ease-in, width 150ms ease-out;
	width: 0
}

.navFotul ul li a:hover::after {
	opacity: 1;
	width: 100%;
}	
*/

.navFotul ul li a
{
	color:inherit;
	display:block;
	text-decoration:none;
	
}

.navFotul ul li a:hover
{
	color: #FBB040;
}

.txtlink{color: #58595b; text-decoration:underline;}

.txtlink:hover{color: #FBB040;}



.courseHedings li
{
	background: url(../images/icon/mini_icon1.png) no-repeat left top;
  	padding: 7px 0px 3px 50px;
	list-style: none;
	margin: 0;
}
.courseHedings li:after
{
	content: '6 Courses';
    position: absolute;
    top: 12px;
    background: #ebeced;
    padding: 2px 15px;
    color: #939598;
    font-family: 'Roboto-Regular';
    left: 360px;
    font-size: 10px;
    border-radius: 10px;
}


.videoHedings li
{
	background: url(../images/icon/mini_icon2.png) no-repeat left top;
  	padding: 9px 0px 6px 50px;
	list-style: none;
	margin: 0;
	background-size: 40px;
}




.videoIcon li
{
	list-style:none;
	overflow:hidden;
}
.videoIcon li i{    border: 2px solid #babec2;
    border-radius: 15px;
    padding: 5px 7px 5px;
    color: #babec2;
	    font-size: 10px;
	}


/*BOTTONS*/
.btn-darkBlue {
	color: #0293b9;
	border: 1px solid #0293b9;
}
.btn-darkBlue:hover {
	color: #fff;
	background-color: #0293b9;
	border-color: #0293b9
}
.btn-darkBlue.focus, .btn-darkBlue:focus {
	box-shadow: 0 0 0 .2rem rgba(2, 147, 185, 0.39)
}
.btn-darkBlue.disabled, .btn-darkBlue:disabled {
	background-color: #0293b9;
	border-color: #0293b9
}
.btn-darkBlue:not([disabled]):not(.disabled).active, .btn-darkBlue:not([disabled]):not(.disabled):active, .show>.btn-darkBlue.dropdown-toggle {
	color: #fff;
	background-color: #0293b9;
	border-color: #0293b9;
	box-shadow: 0 0 0 .2rem rgba(2, 147, 185, 0.39)
}


.btn-darkMenu {
	color: #fff;
	border: 1px solid #31343e;
	background-color: #31343e;
}
.btn-darkMenu:hover {
	color: #31343e;
	background-color: #fff;
	border-color: #31343e
}
.btn-darkMenu.focus, .btn-darkMenu:focus {
	box-shadow: 0 0 0 .2rem rgba(49, 52, 62, 0.5215686274509804)
}
.btn-darkMenu.disabled, .btn-darkMenu:disabled {
	background-color: #31343e;
	border-color: #31343e
}
.btn-darkMenu:not([disabled]):not(.disabled).active, .btn-darkMenu:not([disabled]):not(.disabled):active, .show>.btn-darkMenu.dropdown-toggle {
	color: #fff;
	background-color: #31343e;
	border-color: #31343e;
	box-shadow: 0 0 0 .2rem rgba(49, 52, 62, 0.5215686274509804)
}


.btn-darkParpol {
	color: #7f3f98;
	border: 1px solid #7f3f98;
}
.btn-darkParpol:hover {
	color: #fff;
	background-color: #7f3f98;
	border-color: #7f3f98
}
.btn-darkParpol.focus, .btn-darkParpol:focus {
	box-shadow: 0 0 0 .2rem rgba(127, 63, 152, 0.49)
}
.btn-darkParpol.disabled, .btn-darkParpol:disabled {
	background-color: #7f3f98;
	border-color: #7f3f98
}
.btn-darkParpol:not([disabled]):not(.disabled).active, .btn-darkParpol:not([disabled]):not(.disabled):active, .show>.btn-darkParpol.dropdown-toggle {
	color: #fff;
	background-color: #7f3f98;
	border-color: #7f3f98;
	box-shadow: 0 0 0 .2rem rgba(127, 63, 152, 0.49)
}



.btn-darkPink {
	color: #df584f;
	border: 1px solid #df584f;
}
.btn-darkPink:hover {
	color: #fff;
	background-color: #df584f;
	border-color: #df584f
}
.btn-darkPink.focus, .btn-darkPink:focus {
	box-shadow: 0 0 0 .2rem rgba(223, 88, 79, 0.47)
}
.btn-darkPink.disabled, .btn-darkPink:disabled {
	background-color: #df584f;
	border-color: #df584f
}
.btn-darkPink:not([disabled]):not(.disabled).active, .btn-darkPink:not([disabled]):not(.disabled):active, .show>.btn-darkPink.dropdown-toggle {
	color: #fff;
	background-color: #df584f;
	border-color: #df584f;
	box-shadow: 0 0 0 .2rem rgba(223, 88, 79, 0.47)
}




.btn-darkBrown {
	color: #fff;
	border: 1px solid #f47b65;
	background-color: #f47b65;
}
.btn-darkBrown:hover {
	color: #f47b65;
	background-color: #fff;
	border-color: #f47b65
}
.btn-darkBrown.focus, .btn-darkBrown:focus {
	box-shadow: 0 0 0 .2rem rgba(244, 123, 101, 0.4117647058823529)
}
.btn-darkBrown.disabled, .btn-darkBrown:disabled {
	background-color: #f47b65;
	border-color: #f47b65
}
.btn-darkBrown:not([disabled]):not(.disabled).active, .btn-darkBrown:not([disabled]):not(.disabled):active, .show>.btn-darkBrown.dropdown-toggle {
	color: #fff;
	background-color: #f47b65;
	border-color: #f47b65;
	box-shadow: 0 0 0 .2rem rgba(244, 123, 101, 0.4117647058823529)
}


.btn-white {
	color: #495057;
	border: 1px solid #f47b65;
	background-color: #fff;
	font-size:14px;
}
.btn-white:hover {
	color: #fff;
	background-color: #f47b65;
	border-color: #f47b65
}
.btn-white.focus, .btn-white:focus {
	box-shadow: 0 0 0 .2rem rgba(244, 123, 101, 0.4117647058823529)
}
.btn-white.disabled, .btn-white:disabled {
	background-color: #f47b65;
	border-color: #f47b65
}
.btn-white:not([disabled]):not(.disabled).active, .btn-white:not([disabled]):not(.disabled):active, .show>.btn-white.dropdown-toggle {
	color: #fff;
	background-color: #f47b65;
	border-color: #f47b65;
	box-shadow: 0 0 0 .2rem rgba(244, 123, 101, 0.4117647058823529)
}


.courseTitle{   overflow: hidden;
    position: relative;
    bottom: 0px;
    left: 0;}
	
	
/*.cssLoader{}*/	
.loaderTxt{
	position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    width: fit-content;
    font-size: 14px;
    color: #000;
	font-weight:bold;
	text-align:center;
	}
.loader {
  color: #000000;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

input[type=button]{cursor:pointer;}

input[type=date]:disabled{
	 background: url(../images/icon/dateIcon.png) no-repeat;
  	 background-position: right 12px bottom 5px;
	 opacity:0.5
	}

#popFlowUp input[type=date]:disabled{
	 background: url(../images/icon/dateIcon.png) no-repeat;
	 /*background-position:100% 6px;*/
	 background-position:96.2% 0px;
  	 opacity:0.5
	} 
	
	
 input[type=date]::-webkit-calendar-picker-indicator{
    /*display: none;*/
    -webkit-appearance: none;
 	color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(../images/icon/dateIcon.png) no-repeat;
	background-position: center right;
	background-position:0px 0px;
    height: 20px;
	width:20px;
	cursor:pointer;
	
}
.marginicon::-webkit-calendar-picker-indicator {margin-right:15px; margin-top:-3px;}

input[type=date]::-webkit-inner-spin-button{
		display: none;
	}

input[type=date]::-webkit-clear-button {margin-right:10px;}


.innerMenuIcon {
		display:none;
		}
		
		
		
		
/*<!--ON OFF SWITCH BUTTON-->*/		
.toggalPosPop {
    position: absolute;
    top: -17px;
    right: 77px;
}
.toggalPos{   position: absolute;
    top: 5px;
    right: 86px;}

.example > .row {
  margin-top: 2rem;
  height: 5rem;
  vertical-align: middle;
  text-align: center;
  border: 1px solid rgba(189, 193, 200, 0.5);
}
.example > .row:first-of-type {
  border: none;
  height: auto;
  text-align: left;
}
.example h3 {
  font-weight: 400;
}
.example h3 > small {
  font-weight: 200;
  font-size: .75em;
  color: #939aa5;
}
.example h6 {
  font-weight: 700;
  font-size: .65rem;
  letter-spacing: 3.32px;
  text-transform: uppercase;
  color: #bdc1c8;
  margin: 0;
  line-height: 5rem;
}

.btn-toggle {
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;
    color: #6b7381;
    background: #fff;
       top: -5px;
 	    border: 1px solid #149265 !important;
}
.btn-toggle.focus, .btn-toggle:focus {
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(47, 169, 122, 0.47);
}
.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
}
.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity .25s;
}
/*.btn-toggle:before {
  content: 'Off';
  left: -4rem;
}
.btn-toggle:after {
  content: 'On';
  right: -4rem;
  opacity: .5;
}*/
.btn-toggle > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left .25s;
}
.btn-toggle.active {
  transition: background-color 0.25s;
}
.btn-toggle.active > .handle {
  left: 1.6875rem;
  transition: left .25s;
  background: #ffffff !important;
}
.btn-toggle.active:before {
  opacity: .5;
}
.btn-toggle.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: .75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  display: none;
}
.btn-toggle:before,
.btn-toggle:after {
  color: #6b7381;
}
.btn-toggle.active {
  background-color: #149265;
}
.btn-toggle.btn-lg {
  /*margin: 0 5rem;
  padding: 0;
  position: relative;*/
	border: none;
	height: 20px;
    width: 55px;
  	border-radius: 2.5rem;
}
.btn-toggle.btn-lg:focus,
.btn-toggle.btn-lg.focus,
.btn-toggle.btn-lg:focus.active,
.btn-toggle.btn-lg.focus.active {
  outline: none;
}
.btn-toggle.btn-lg:before,
.btn-toggle.btn-lg:after {
  line-height: 2.5rem;
  width: 5rem;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity .25s;
}
/*.btn-toggle.btn-lg:before {
  content: 'No';
      left: -30px;
    top: -9px;
    width: 25px;
}
.btn-toggle.btn-lg:after {
  content: 'Yes';
  right: -35px;
   width: 25px;
      top: -9px;
  opacity: .5;
}*/
.btn-toggle.btn-lg > .handle {
      position: absolute;
    top: 3px;
    left: 0.3125rem;
        width: 12px;
    height: 12px;
    border-radius: 1.875rem;
    background: #149265;
    transition: left .25s;
}
div#inspectionTable_filter input, div#vendorTable_filter input, div#myTable_filter input{
	border: 1px solid #149265 !important;
}
.btn-toggle.btn-lg.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-lg.active > .handle {
  left: 37px;
  transition: left .25s;
}
.btn-toggle.btn-lg.active:before {
  opacity: .5;
}
.btn-toggle.btn-lg.active:after {
  opacity: 1;
}
.btn-toggle.btn-lg.btn-sm:before,
.btn-toggle.btn-lg.btn-sm:after {
  line-height: 0.5rem;
  color: #fff;
  letter-spacing: .75px;
  left: 0.6875rem;
  width: 3.875rem;
}
.btn-toggle.btn-lg.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-lg.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-lg.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-lg.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-lg.btn-xs:before,
.btn-toggle.btn-lg.btn-xs:after {
  display: none;
}
.btn-toggle.btn-sm {
  margin: 0 0.5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
}
.btn-toggle.btn-sm:focus,
.btn-toggle.btn-sm.focus,
.btn-toggle.btn-sm:focus.active,
.btn-toggle.btn-sm.focus.active {
  outline: none;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: 1.5rem;
  width: 0.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.55rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity .25s;
}
.btn-toggle.btn-sm:before {
  content: 'Off';
  left: -0.5rem;
}
.btn-toggle.btn-sm:after {
  content: 'On';
  right: -0.5rem;
  opacity: .5;
}
.btn-toggle.btn-sm > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left .25s;
}
.btn-toggle.btn-sm.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-sm.active > .handle {
  left: 1.6875rem;
  transition: left .25s;
}
.btn-toggle.btn-sm.active:before {
  opacity: .5;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm.btn-sm:before,
.btn-toggle.btn-sm.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: .75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle.btn-sm.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm.btn-xs:before,
.btn-toggle.btn-sm.btn-xs:after {
  display: none;
}
.btn-toggle.btn-xs {
  margin: 0 0;
  padding: 0;
  position: relative;
  border: none;
  height: 1rem;
  width: 2rem;
  border-radius: 1rem;
}
.btn-toggle.btn-xs:focus,
.btn-toggle.btn-xs.focus,
.btn-toggle.btn-xs:focus.active,
.btn-toggle.btn-xs.focus.active {
  outline: none;
}
.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  line-height: 1rem;
  width: 0;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity .25s;
}
.btn-toggle.btn-xs:before {
  content: 'Off';
  left: 0;
}
.btn-toggle.btn-xs:after {
  content: 'On';
  right: 0;
  opacity: .5;
}
.btn-toggle.btn-xs > .handle {
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.75rem;
  background: #fff;
  transition: left .25s;
}
.btn-toggle.btn-xs.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-xs.active > .handle {
  left: 1.125rem;
  transition: left .25s;
}
.btn-toggle.btn-xs.active:before {
  opacity: .5;
}
.btn-toggle.btn-xs.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs.btn-sm:before,
.btn-toggle.btn-xs.btn-sm:after {
  line-height: -1rem;
  color: #fff;
  letter-spacing: .75px;
  left: 0.275rem;
  width: 1.55rem;
}
.btn-toggle.btn-xs.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-xs.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-xs.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-xs.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs.btn-xs:before,
.btn-toggle.btn-xs.btn-xs:after {
  display: none;
}
.btn-toggle.btn-secondary {
  color: #6b7381;
  background: #bdc1c8;
}
.btn-toggle.btn-secondary:before,
.btn-toggle.btn-secondary:after {
  color: #6b7381;
}
.btn-toggle.btn-secondary.active {
  background-color: #ff8300;
}		
		
		
		
		
		
		
		
/*MEDIA*/
@media (max-width:987px)
{
	.navFotul ul li {
    	padding: 5px 0px;
	}
	
	.padding0978scr
	{
		padding:0;
	}
}

@media (max-width:768px)
{
	.navFotul ul li {
    	padding: 5px 0px;
	}
	
	.padding0768scr
	{
		padding:0;
	}
}
@media (max-width:767px)
{
	aside{    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;}
	.menuMiniScrDisplayNone{display:none;}
	.menuMiniScrDisplayBlock{display:block;}
	.menuIconDis{display:block;}
	.textCenterScr768{text-align:center;}
	
	.innerMenuIcon {
		display:block;
		position: absolute;
		background: #31343e;
		top: 18px;
		    margin-left: 100%;
		font-size: 22px;
		text-align: center;
	color: #fff;
	border: 1px solid #31343e;
	background-color: #31343e;
	}
	.innerMenuIcon:hover {
		color: #31343e;
		background-color: #fff;
		border-color: #31343e
	}
	.innerMenuIcon.focus, .innerMenuIcon:focus {
		box-shadow: 0 0 0 .2rem rgba(49, 52, 62, 0.5215686274509804)
	}
	.innerMenuIcon.disabled, .innerMenuIcon:disabled {
		background-color: #31343e;
		border-color: #31343e
	}
	.innerMenuIcon:not([disabled]):not(.disabled).active, .innerMenuIcon:not([disabled]):not(.disabled):active, .show>.innerMenuIcon.dropdown-toggle {
		color: #fff;
		background-color: #31343e;
		border-color: #31343e;
		box-shadow: 0 0 0 .2rem rgba(49, 52, 62, 0.5215686274509804)
	}
}

@media (max-width:575px)
{

	
	.border575Scr
	{
		border:none;
		border-top:1px solid #a7a9ac !important;
	}
	aside ul li { padding:15px 55px;}
	aside ul li:nth-child(1)
{
	background-position: 25px -46px;
}

aside ul li:nth-child(2)
{
	background-position: 25px -118px;
}

aside ul li:nth-child(3)
{
	background-position: 25px -188px;
}

aside ul li:nth-child(4)
{
	background-position: 25px -261px;
}

aside ul li:nth-child(5)
{
	background-position: 25px -329px;
}

aside ul li:nth-child(7) {
    background-position: 25px -414px;
}
aside ul li:nth-child(6) {
    background-position: 25px -495px;
}
aside ul li:nth-child(8) {
    background-position: 25px -559px;
}

}

.none
{
	display:none
}

.myhead{
	margin-top:2rem !important;
	font-weight:bold;
}
/*#firstname{
  margin-top: 5rem;
}*/
.pull-left.undefined:before{
  content: "\f06a";
  font-family: FontAwesome;
  display: inline-block;
  padding-right: 6px;
  vertical-align: middle;
  font-size: 16px;
}
/*#AlertMsg3 {
    padding: 12px 16px !important;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
     margin-top: 310px !important;
    text-align: center;
}*/
.mt-5{
        margin-top: 4.5rem !important;
}
.mt-6{
        margin-top: 6rem !important;
}
.mt-7{
        margin-top: 7rem !important;
}
.mt-9{
        margin-top: 9rem !important;
}
.pull-left.undefined{
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    vertical-align: middle;
    line-height: 45px;
}

.marginFoTXT {
    margin-top: 1rem!important;
}

@media screen and (max-height: 660px) {
	.widthscrH585{    float: left;
    margin-left: 6px;width: 18%;}
	.fotcont {
    bottom: 5px;
}
.marginFoTXT {
    margin-top: 0.50rem!important;
}

  .font-size10pxscrH585 {
    font-size: 10px !important;
}
}
div#email-checkbox {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 1px solid #a7a9ac;
}
a.btn-anchor:hover {
    text-decoration: none;
}
.inputField {
    width: 100%;
    border: none;
    padding: 5px 7px;
    letter-spacing: 33px;
    text-align: center;
    margin: auto;
    display: block;
    outline: 0;
}
.sheetbox
{ 
    background: #ccc url(../images/excelsheet.png) no-repeat center center;
    height: 180px;
   
}
.Videbox 
{ 
    background: #ccc url(../images/video.png) no-repeat center center;
    height: 180px;
   
}
.resetbutton 
{ 
    background: transparent url(../images/icon1/reset.png) no-repeat left;
    border: 2px solid #ccc;
    color: black;
    width: 100px;
    font-size: 16px;
    padding: 5px;
    background-position: 9px 8px;
}
.reportsbtn
{
	background:transparent;
	border:none;	
	color: black;
	font-size: 15px;
	padding: 6px;
	border:2px solid transparent;
	
}
.activerepbtn {
   border: 2px solid #2fa97a;
   color: #2fa97a;	
}
.sort
{
    background: url(../images/Sort.png) no-repeat;
    width: 150px;
    padding: 5px 0px 5px 30px;
    background-size: 18px 18px;
    background-position: 5px 7px;
    text-align: center;
    border: none;
    border-right: 1px solid #ccc;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: left;
    text-align: left;
}

.sort select::-ms-expand {
    display: none;
}
	
#emplocationtabs  li:nth-child(2)
{
    border-radius: 0px 25px 25px 0px !important;
}


.settinglink { font-size:10px; visibility:hidden;}
.employeelink { font-size:10px; visibility:hidden;}

.settinglink a {color:#2fa97a;}
.activesorting  {border:2px solid #2fa97a;}
.impbtn {font-size: 16px !important;padding: 11.5px;}
.mt-33 { margin-top:33px;}
.mt-29 { margin-top:29px;}
.remaindays{    
    background: #d96464;
    color: #fff;
    text-align: center;
    padding: 4px 0px;
    width: 85%;
    float: right;
}

.loaderTxt_1{
	 margin: auto;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background: #d96464;
    height: max-content;
    padding: 27px;
}
.loaderTxt_1 a { color:#fff;}
.subbtn
{
    background: #fff;
    border: none;
    font-size: 17px;
    color: green;
    margin: 7px;
    padding: 5px 8px;
}
.subbtn1
{ 
    background: #7cc475;
    border: none;
    font-size: 17px;
    color: #fff;
    margin: 7px 0px;
    padding: 5px 8px;
}



.inner-box{
	color: white;
	background-color: #42c886;
	border-radius: 5px;
	padding: 10%;
}
.inner-box .icon {
    border: 1px solid white;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    margin: auto;
    padding: 4%;
}
.inner-box .icon .inner-icon {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    color: #000;
    color: #2eb178;
    padding-top: 22px;
	text-align:center;
}

ul {
	list-style: none;
	padding-left: 10px;
	text-align: left;
	list-style-image:url(../images/tick.png);
}
.nav-sub {	padding: 9px 22px;margin: 4px 0px 0px -86px;position: absolute;width:unset !important;color: #26a772 !important;}

.dollrsign { position: absolute;margin: 11px 0px 0px -13px; font-size:22px;}
.font35 { font-size:35px;}
.save {    
    right: -28px;
    position: absolute;
    background:url(../images/save44.png) no-repeat;
    color: #31b47a;
    width: 94px;
    height: 103px;
    font-size: 26px;
    background-size: 100%;
    top: -40px;
    font-weight: bold;
    padding-top: 13px;
    padding-left: 0px;
    text-align: center;
}
.mt-100 { margin-top:250px;}	
h2 { font-family: universal-bold-cn;}

.nav-sub {
    padding: 9px 22px;
    margin: 4px 0px 0px 0px;
    position: absolute;
    width: unset !important;
    color: #26a772 !important;
    border-radius: 25px;
    font-weight: bold;
	 box-shadow: 0px 15px 10px -15px #111;
	 cursor:pointer;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
.subpop
{
	background: #fff;
    width: fit-content;
    height: 500px;
    margin: auto;
    margin-top: 15%;
    padding: 51px;
    padding-top: 15px;
}
.subheadingofplans
{
	    font-size: 30px;
    color: #000;
    text-align: center;
    padding-bottom: 6px;
}