@charset "utf-8";
/* CSS Document */


.font-familyGothamNarrowBook{font-family: 'GothamNarrow-Book';}
@font-face {
  font-family: 'GothamNarrow-Book';
  src: url('GothamNarrowBook/GothamNarrow-Book.eot?#iefix') format('embedded-opentype'),  url('GothamNarrowBook/GothamNarrow-Book.otf')  format('opentype'),
	     url('GothamNarrowBook/GothamNarrow-Book.woff') format('woff'), url('GothamNarrowBook/GothamNarrow-Book.ttf')  format('truetype'), url('GothamNarrowBook/GothamNarrow-Book.svg#GothamNarrow-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-familyPoiretOneRegular{font-family: 'PoiretOne-Regular';}
@font-face {
  font-family: 'PoiretOne-Regular';
  src: url('poiretOne/PoiretOne-Regular.eot?#iefix') format('embedded-opentype'),  url('poiretOne/PoiretOne-Regular.woff') format('woff'), url('poiretOne/PoiretOne-Regular.ttf')  format('truetype'), url('poiretOne/PoiretOne-Regular.svg#PoiretOne-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-familyUniversCondensed{font-family: 'Univers-Condensed';}
@font-face {
  font-family: 'Univers-Condensed';
  src:local('Univers-Condensed'), local('Univers-Condensed'),
   url('Univers-Condensed/Univers-Condensed.eot?#iefix') format('embedded-opentype'),  url('Univers-Condensed/Univers-Condensed.woff') format('woff'), url('Univers-Condensed/Univers-Condensed.ttf')  format('truetype'), url('Univers-Condensed/Univers-Condensed.svg#Univers-Condensed') format('svg');
  font-weight: normal;
  font-style: normal;

}

.font-familyUniversLT{font-family: 'UniversLT';}
@font-face {
  font-family: 'UniversLT';
  src: url('UniversLT/UniversLT.eot?#iefix') format('embedded-opentype'),  url('UniversLT/UniversLT.woff') format('woff'), url('UniversLT/UniversLT.ttf')  format('truetype'), url('UniversLT/UniversLT.svg#UniversLT') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-familyUniversLTStd{font-family: 'UniversLTStd';}
@font-face {
  font-family: 'UniversLTStd';
  src: url('UniversLTStd/UniversLTStd.eot?#iefix') format('embedded-opentype'),  url('UniversLTStd/UniversLTStd.otf')  format('opentype'),
	     url('UniversLTStd/UniversLTStd.woff') format('woff'), url('UniversLTStd/UniversLTStd.ttf')  format('truetype'), url('UniversLTStd/UniversLTStd.svg#UniversLTStd') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-familyUniversLTStdBold{font-family: 'UniversLTStd-Bold';}
@font-face {
  font-family: 'UniversLTStd-Bold';
  src: url('UniversLTStdBold/UniversLTStd-Bold.eot?#iefix') format('embedded-opentype'),  url('UniversLTStdBold/UniversLTStd-Bold.otf')  format('opentype'),
	     url('UniversLTStdBold/UniversLTStd-Bold.woff') format('woff'), url('UniversLTStdBold/UniversLTStd-Bold.ttf')  format('truetype'), url('UniversLTStdBold/UniversLTStd-Bold.svg#UniversLTStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-familyUniversLTStdLightCn{font-family: 'UniversLTStd-LightCn';}
@font-face {
  font-family: 'UniversLTStd-LightCn';
  src: url('UniversLTStdLightCn/UniversLTStd-LightCn.eot?#iefix') format('embedded-opentype'),  url('UniversLTStdLightCn/UniversLTStd-LightCn.otf')  format('opentype'),
	     url('UniversLTStdLightCn/UniversLTStd-LightCn.woff') format('woff'), url('UniversLTStdLightCn/UniversLTStd-LightCn.ttf')  format('truetype'), url('UniversLTStdLightCn/UniversLTStd-LightCn.svg#UniversLTStd-LightCn') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Penyae';
    src: url('PenyaeBold.woff2') format('woff2'),
        url('PenyaeBold.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
.datepicker { font-family: 'Univers-Condensed';background:url(../images/icon/dateIcon.png) no-repeat; background-position: 93%;}
.ui-datepicker-month, .ui-datepicker-year{ border:none; background:transparent;}
.ui-widget-header { background: #2fa97a !important;font-family: 'Univers-Condensed';}

.dashboardLogoBg{background-color: #2d2f36;padding: 20px 22px 26px;margin: 0;}
.colorWhite{color:#fff !important;}
.colorBlack{color:#000;}
.colorgray{color: #333333;}
.colorDarkGray{color:#33353d;}
.colorBlue{color: #5192e0;}
.colorNewBlue{color: #5392e1;}
.colorLightOrange{color: #d96464;}
.colorGreen{color: #7cc576;}
.colorGreenCros{color: #2fa97a;}
.colorRed{color: #e75e5d;}
.colorParpel{color: #a864a8;}
.colorYellow{color: #ef9b27;}
.fontweightBold{font-weight: bold !important;}
.colorDarkBlue{color:#163b4e;}
.font-size12px{font-size: 12px;}
.font-size14px{font-size: 14px;}
.font-size13px{font-size: 13px;}
.font-size22px{font-size: 22px !important;}
.font-size18px{font-size: 18px !important;}
.font-size16px{font-size: 16px !important;}
.font-size20px {font-size: 20px !important;}
.font-size32px{font-size: 32px;}
.font-size14px{font-size: 14px !important;}
.font-size15px{font-size: 15px !important;}
.font-size125per{font-size: 125%;}
.font-size70px{font-size: 70px;}
.fontIcon{color: #53a318;font-weight: bold;font-size: 22px !important;}
#todoinput .form-control { width:97% !important;}
#todoinput .btn {width:97% !important;}
.atchbtn { font-size:13px !important;line-height:13px !important;}
#myTable_filter {margin-top: 3px;margin-right: 20px;}
#myTable_filter label { display:block;}
#supdiv{left: auto;z-index: 999999999;display:none}
.supportbtn{ background: #2fa97a;color: #fff;padding: 5px;border-top-left-radius: 8px;border-top-right-radius: 8px;right: 15px !important; left: auto !important; cursor:pointer;}
.supptxt{background: #2fa97a;color: #fff;text-align: center;padding: 7px;border-top-right-radius: 10px;border-top-left-radius: 10px;}	
.senbtn{ background: #f47b64;color: #fff;padding: 5px 20px 5px 20px !important;font-size: 13px !important; cursor:pointer;}
.mp0{	margin-bottom: 0px !important;padding-bottom: 0px !important;}
.senbtdiv{padding-bottom: 10px !important;margin-bottom: 0px !important;}
.closex{ float:right;cursor: pointer;padding-right: 5px;}
.dataTables_wrapper .dataTables_filter input {border:1px solid rgb(244, 123, 100) !important} 
.alert-dangerP {  color: #721c24;}
.alert-successP { color: #155724;}
.opacity05{ opacity:0.5 !important;}
#TaskNamePOP{padding-right: 40px !important;}
#btndown{ opacity:0.5;disabled: true;}
.resNa{ text-align:left !important; padding-left:20px;}



@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  
{
   #LPPasttxt,#CPast30txt,#LP30txt,#C30txt,#LP60txt,#C60txt,#LP90txt,#C90txt{ font-size:13px;}	
   label { font-size:14px;}
 }


.modal-vertical-centered {
  transform: translate(0, 50%) !important;
  -ms-transform: translate(0, 50%) !important; /* IE 9 */
  -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
}


#adminName { text-transform:capitalize;}

#reportstable_wrapper { width:100%}
#reportstable_filter  { float:left;}
.dataTables_wrapper .dataTables_filter input { border:1px solid rgb(47, 169, 122) !important;}

/* The Modal (background) */
.modal_1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content_1 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close_1 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close_1:hover,
.close_1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#trialexpires { background: rgba(0,0,0,0.8); opacity:1;}