@font-face {
    font-family: universal-std;
    src: url(../fonts/UniversLTStd.otf);
}
@font-face {
    font-family: universal-std-bold;
    src: url(../fonts/UniversLTStd-Bold.otf);
}
@font-face {
    font-family: universal-bold-cn;
    src: url(../fonts/UniversLTStd-BoldCn.otf);
}
@font-face {`
    font-family: universal-std-roman;
    src: url(../fonts/univers-lt-55-roman-58f7213b39334.ttf);
}
@font-face {
    font-family: universal-std-light;
    src: url(../fonts/univers-lt-std-47-light-condensed-58f720a51cace.otf);
}

header#header{
	background-image: url(../images/header_bg.png);    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-attachment: fixed; */
    background-position: center;
}
.header-txt {font-family: universal-std;}
#intro{
	background-image: url(../images/curve_pattern.png);
	background-size: cover;
	background-position: center center;
}
#features{
	background-image: url(../images/feature_bg.png);
	background-size: 100% 100%;
	background-position: center;
}



.headerFixed{
	background:#fff;
    position: fixed;
    z-index: 1111111;
    top: 0;
    width: 100%;
}
nav { background:#fff;}
.down-arrow{ text-align:center; margin-top:-30px;}


.bg-foottxt{ font-size: 12px;color: #6c757d;text-align: center; letter-spacing:1px;}
.bg-foottxt a {color: #6c757d;}
.color-white{color:#FFF;}
.color-grey{color:#495057;}
.mb4 { margin-bottom:-4px;}
.go{text-decoration: none;color: rgb(89, 143, 203) !important;}
a:hover { text-decoration:none;}
.li1 {background: url(../images/icons/Vector%20Smart%20Object.png) no-repeat;font-size: 16px;padding-top: 36px;height: 100px;padding-left: 110px;}
.li2 {background:url(../images/icons/Vector%20Smart%20Object-2.png) no-repeat;font-size: 16px;padding-top: 36px;height: 100px;padding-left: 110px;}
.li3 {background:url(../images/icons/Vector%20Smart%20Object-4.png) no-repeat;font-size: 16px;padding-top: 36px;height: 100px;padding-left: 110px;}
.li4 {background:url(../images/icons/Vector%20Smart%20Object-3.png) no-repeat;font-size: 16px;padding-top: 36px;height: 100px;padding-left: 110px;}
.li5 {background:url(../images/icons/Vector%20Smart%20Object-8.png) no-repeat;font-size: 16px;padding-top: 36px;height: 100px;padding-left: 110px;}
.li6 {background:url(../images/icons/Vector%20Smart%20Object-1.png) no-repeat;font-size: 16px;padding-top: 36px;height: 100px;padding-left: 110px;}
.li7 {background:url(../images/icons/Vector%20Smart%20Object-6.png) no-repeat;font-size: 16px;padding-top: 36px;height: 100px;padding-left: 110px;}
.li8 {background:url(../images/icons/Vector%20Smart%20Object-5.png) no-repeat;font-size: 16px;padding-top: 36px;height: 100px;padding-left: 110px;}
.li9 {background:url(../images/icons/Vector%20Smart%20Object-7.png) no-repeat;font-size: 16px;padding-top: 36px;height: 100px;padding-left: 110px;}
.li10 {background:url(../images/icons/Vector%20Smart%20Object-9.png) no-repeat;font-size: 16px;padding-top: 36px;height: 100px;padding-left: 110px;}


@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation: fadeInDown 1s;
  animation: fadeInDown 1s;
}
	
	
	
	
h1{
	font-family: universal-bold-cn;
}
h4{
	font-family: universal-std-light;
}
h5{
	font-family: universal-std-bold;
}
.feat-bottom p{
	
}
.feat-top p , #intro p, #in-touch p, footer#footer p{
	font-family: universal-std;
}
.touch-bottom label{
	font-family: universal-std; 
}
.complyance, #features, #solution, #intro, #in-touch{
	padding: 10% 0%;
}
.complyance-left{
	padding-top: 5%;
	color: white;
}
.complyance-left button{
	color: rgb(89, 143, 203) !important;
}
.container{
	overflow: hidden;
}
ul.my-nav li, ul.my-nav-footer li{
	list-style: none;
	display: inline-block;
}
ul.my-nav li a, ul.my-nav-footer li a{
	color:#495057 !important;
	border-right: 1px solid #495057;
	padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
	font-weight: 500;
	font-size: 14px;
}
ul.my-nav li:last-child a, ul.my-nav li:nth-child(4) a, ul.my-nav-footer li:last-child a, ul.my-nav-footer li:nth-child(4) a{
	border-right: 0px solid transparent !important;
}
header#header #navbarTogglerDemo01{
	float: right;
}
.inner-box{
	color: white;
	background-color: #42c886;
	border-radius: 5px;
	padding: 10%;
}
.inner-box h5{
	margin: 10% 0;
}
h5.myMarge{
	margin: 4% 0;
}
.feat-top, .touch-top{
	margin-bottom: 4%;
}
.inner-box p{
	font-size: 13px;
    line-height: 20px;
}
#in-touch input[type='button'] {
    background-color: rgb(45, 176, 119);
    color: white !important;
    width: 200px;
    margin-top: 10px;
	border-color: rgb(45,176,119);
}
footer#footer{
}
.inner-box .icon{
	    border: 1px solid white;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    margin: auto;
    padding: 4%;
}
.inner-box .icon .inner-icon{
	background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 100px;
	color:#000;
	color: #2eb178;
	font-family: universal-bold-cn;
	padding-top:22px;
}
.inner-box .icon .inner-icon .myImg{
	margin-top: 24%;
    width: 50%;
    height: 50%;
}
/*BACK TO TOP*/
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 39px;
    background: #2db077;
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
.feat-top{
	color:white;
}
.blue-color{
	color: #2ea979 !important;
}
#back-to-top:hover {
    background: #2db077;
}
#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}
.custom-toggle{
	position: absolute;
	right: 0;
	top:10px;
}
.no-pad{
	padding: 0;
}
.my-marg{
	margin-bottom: 1rem;
}
footer#footer{
	padding-top: 10%;
	background-image: url(../images/footer_bg.png);
	background-size: cover;
	background-position: center center;
}
#in-touch{
	padding-bottom: 0px;
}
hr.my-hr{
	border:2px solid white;
}
.extra-size{
	font-size: 4rem;
	font-family: universal-std-light;
}

#solution{
	padding: 8% 0;
	color: white;
}
/*#solution .nav-mybtn{
	color: rgb(89, 143, 203) !important;
}*/
.complyance-left .nav-mybtn{
	width: 12rem;
	height: 3rem;
	color: rgb(51, 51, 51);
}
ul.top-nav li a{
	padding-top:0px;
	padding-bottom: 0px; 
}
.my-toggle{
	color: white !important;
	border-color:#ccc !important;
}
ul.my-nav li a.nav-mybtn , .nav-mybtn, ul.my-nav-footer li a.nav-mybtn{
	padding: 7px 0px;
    background-color: #2db077;
    border-radius: 50px;
    width: 140px;
    font-family: universal-bold-cn;
    color: #FFF !important;
}
.top-nav{
	display: table;
}
.btn-get {background: #fff;}
.btn-get a {color: #2db077 !important;}
/*MEDIA QUERIES*/
@media only screen and (max-width : 992px) {
	.toggle-nav {
		display: inherit;
	    width: 100%;
	    text-align: center;
	    color: white;
	}
	.toggle-nav a{
		color: white !important;
	}
	.toggle-nav a.nav-mybtn{
		margin: 5px 0px;
		width: 50%;
		color: rgb(51, 51, 51) !important;
	}
	ul.my-nav li a {
		border-right: 0;
	    display: inline-block;
	    width: 100%;
	    border-bottom: 1px solid white;
	    padding: 8px 0px !important;
	}
	#solution{
		padding-top: 10% !important;
	}
	.extra-size{
		font-size: 3rem;
	}
	.myMarge{
		margin: 2.6% 0 !important;
	}
	.feat-bottom .col-md-4{
		margin-bottom: 1rem !important;
	}
	.complyance-left{
		padding-top: 0px;
	}
}

@media only screen and (max-width : 768px) {
	.toggle-nav {
		display: inherit;
	    width: 100%;
	    text-align: center;
	    color: white;
	}
	.toggle-nav a{
		color: white !important;
	}
	.toggle-nav a.nav-mybtn{
		margin: 5px 0px;
		width: 50%;
		color: rgb(51, 51, 51) !important;
	}
	ul.my-nav li a {
		border-right: 0;
	    display: inline-block;
	    width: 100%;
	    border-bottom: 1px solid white;
	    padding: 8px 0px !important;
	}
	.feat-bottom .col-sm-12{
		margin-bottom: 1rem;
	}
	.my-marg{
		margin-bottom: 0 !important;
	}
	/*#intro img{
		width: 80%;
	}*/
	.complyance-left{
		margin-bottom: 50px;
	}
	.complyance-left .nav-mybtn{
		width: 10rem;
	}
	.extra-size{
		font-size: 2rem;
	}
	#solution{
		margin-top: 25%;
	}
	.manage-center{
		text-align: center !important;
	}
	ul.my-nav-footer li{
		display: block;
	}
	ul.my-nav-footer li a{
		border-right: 0;
		}
  .headerFixed {
	  
	background: #FFF;;
    position: fixed;
    z-index: 1111111;
    top: 0;
    width: 100%;
	}	
	
#features{
	background: #1d9d6c;
}
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
   .complyance, #features, #solution, #intro, #in-touch{ padding: 5% 0%;}
   .complyance-left{ padding-top: 3%; color: white;}
}

@media (min-width: 1025px) and (max-width: 1280px) {
   .complyance, #features, #solution, #intro, #in-touch{ padding: 5% 0%;}
   .complyance-left{ padding-top: 3%; color: white;}
  
}




video {width: 86%;margin-top: 6%;}
ul {
	list-style: none;
	padding-left: 10px;
	text-align: left;
	list-style-image:url(../images/tick.png);
}
.nav-sub {
	padding: 9px 22px;margin: 4px 0px 0px -86px;position: absolute;width:unset !important;color: #26a772 !important;
}

.dollrsign { position: absolute;margin: 11px 0px 0px -13px; font-size:22px;}
.font35 { font-size:35px;}
.save {    
    right: -29px;
    position: absolute;
    background: url(../images/new.png) no-repeat;
    color: #31b47a;
    width: 94px;
    height: 103px;
    font-size: 24px;
    background-size: 100%;
    top: -41px;
    font-weight: bold;
    padding-top: 13px;
	}
.mt-100 { margin-top:250px;}	
h2 { font-family: universal-bold-cn;}

